################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Algorithm/FileContentIndex/14194e8a-124a-4036-be60-4b10e923b7f4.vsidx
/.vs/Algorithm/FileContentIndex/8a8143ea-505d-4b36-bedf-01294a802dd1.vsidx
/.vs/Algorithm/FileContentIndex
/.vs/ProjectEvaluation/algorithm.metadata.v2
/.vs/ProjectEvaluation/algorithm.projects.v2
